header {
  .wp-block-site-logo {
    @media ( min-width: 600px ) {
      display: none;
    }
  }
  
  .site-title {
    display: none;
    
    @media ( min-width: 600px ) {
      display: unset;
    }
  }
}

.hero {
  &__image {
    display: none;

    @media ( min-width: 782px ) {
      display: unset;
    }
  }
}

footer {
  .footer__col {
    @media ( min-width: 600px ) {
      flex-grow: 0 !important;
      flex-basis: 25% !important;
    }
  }
}