<!-- wp:template-part {"slug":"header","theme":"rehan-lodhi","tagName":"header"} /-->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:post-title {"level":1} /-->

	<!-- wp:post-date {"metadata":{"bindings":{"datetime":{"source":"core/post-data","args":{"field":"date"}}}}} /-->

	<!-- wp:post-content /-->

	<!-- wp:post-terms {"term":"post_tag"} /--></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"rehan-lodhi","tagName":"footer"} /-->