/*************************************************
**************************************************

Website Name:
Website URL:
Website Author: Tabitha Turton
Author URL: tabithaturton.com
Copyright 2017. All Rights Reserved.

Color Guide
***************


*************************************************

Type Guide
***************


Debugging Tools
***************
border: 1px solid #fff;

*************************************************/

/************************************************
*************************************************
0. CSS Reset ------------------------
1. Universal Styles -----------------
2. Header & Nav Styles --------------
3. Main Body Styles -----------------
4. Sidebar Styles -------------------
5. Widget Styles --------------------
6. Footer Styles --------------------
7. Comments & Form Styles -----------
8. Generic Styles -----------
*************************************************
************************************************/


/*----------------------------------------------
------------------------------------------------
Variables
------------------------------------------------
----------------------------------------------*/
$mobile: 320px;
$tablet: 768px;
$desktop: 1024px;

$container-width: 780px;

/*----------------------------------------------
------------------------------------------------
0. CSS Reset
------------------------------------------------
----------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*----------------------------------------------
------------------------------------------------
1. Universal Styles
------------------------------------------------
----------------------------------------------*/
body {
  font-family: "Inter",-apple-system,BlinkMacSystemFont,"Helvetica Neue",Arial,sans-serif;
}


/*----------------------------------------------
------------------------------------------------
2. Header & Nav Styles
------------------------------------------------
----------------------------------------------*/

/*----------------------------------------------
------------------------------------------------
3. Main Body Styles
------------------------------------------------
----------------------------------------------*/

/*----------------------------------------------
------------------------------------------------
4. Sidebar Styles
------------------------------------------------
----------------------------------------------*/

/*----------------------------------------------
------------------------------------------------
5. Widget Styles
------------------------------------------------
----------------------------------------------*/

/*----------------------------------------------
------------------------------------------------
6. Footer Styles
------------------------------------------------
----------------------------------------------*/

/*----------------------------------------------
------------------------------------------------
7. Comments & Form Styles
------------------------------------------------
----------------------------------------------*/

/*----------------------------------------------
------------------------------------------------
8. Generic Styles
------------------------------------------------
----------------------------------------------*/
.container {
  margin: auto;
  padding: 0 20px;
  max-width: $container-width;
}

.desktop-only {
  @media (min-width: $mobile) {

  }
}
